---
layout: default
title: "Blog"
permalink: /blog/
---

<div class="posts">
  {% for post in site.posts %}
    <article style="padding-bottom:1.5em;" class="post">

      <h1><a class="post-title" href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>
      <div>{{ post.date | date: "%-d %B %Y" }} | <span class="ert">
  <acronym title="Estimated reading time">ERT</acronym>:
    {% assign words = post.content | strip_html | number_of_words %}
    {% assign ert = words | divided_by:250 | at_least: 1 %}
    {{ ert }} min{% if ert != 1 %}s{% endif %}
</span>
<p><span>
  {% if post.language = "en" %}English{% endif %}
  {% for tag in post.tags %}
    {% capture tag_name %}{{ tag }}{% endcapture %}
    [<a class="tag-name" href="/tag/{{ tag_name }}">{{ tag_name | upcase}}</a>]
  {% endfor %}
</span></p>
      </div>
      <div class="entry">
        {{ post.excerpt }}
      </div>

      <a style="font-variant:all-petite-caps" href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More</a>
    </article>
  {% endfor %}
</div>
