---
layout: default
title: "Blog"
permalink: /blog/
---

<div class="posts">
  {% for post in site.posts %}
    <article class="post">

      <h1><a class="post-title" href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>
      <div>{{ post.date | date: "%-d %B %Y" }} | <span class="ert">
    ERT:
    {% assign words = page.content | strip_html | number_of_words %}
    {% assign ert = words | divided_by:250 | at_least: 1 %}
    {{ ert }} min{% if ert != 1 %}s{% endif %}
</span>
      </div>
      <div class="entry">
        {{ post.excerpt }}
      </div>

      <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More</a>
      <div>{% for tag in site.tags.split(" ") %}<span>{{ post }}</span> {% endfor %}</div>
    </article>
  {% endfor %}
</div>
