---
layout: default
title: "Blog"
permalink: /blog/
---

<div class="posts">
  {% for post in site.posts %}
    <article style="padding-bottom:1.5em;" class="post">

      <h1><a class="post-title" href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>
      <div>{{ post.date | date: "%-d %B %Y" }} | <span class="ert">
  <acronym title="Estimated reading time">ERT</acronym>:
    {% assign words = post.content | strip_html | number_of_words %}
    {% assign ert = words | divided_by:250 | at_least: 1 %}
    {{ ert }} min{% if ert != 1 %}s{% endif %}
</span>
<p><span>
  <a class="tag-name" style="color:black" href="/tag/{{ post.language }}">{% if post.language == "en" %}
    <div class="language"><a class="tag-name" style="color:black" href="/tag/{{ page.language }}"><img src="https://en.wikipedia.org/wiki/File:Flag_of_the_United_Kingdom.svg" alt="EN" /></a></div>
    {% else %}
   <div class="language"><a class="tag-name" style="color:black" href="/tag/{{ page.language }}"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c1/Flag_of_Hungary.svg/1280px-Flag_of_Hungary.svg.png" alt="HU" /></a></div>
    {% endif %}
  {% assign tags_hu = post.tags_hu | split: " " %}
  {% for tag in post.tags %}
    {% capture tag_name %}{{ tag }}{% endcapture %}
    <div style="display:inline-block;padding: 0.5em 0;">[<a class="tag-name" href="/tag/{{ tag_name }}">{% if post.language == "hu" %}{{ tags_hu[forloop.index0] | upcase }}{% else %}{{ tag_name | upcase }}{% endif %}</a>] </div>
  {% endfor %}
</span></p>
      </div>
      <div class="entry">
        {{ post.excerpt | replace: 'class="highlighted-text"','' }}
      </div>

      <a style="font-variant:all-petite-caps" href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More</a>
    </article>
  {% endfor %}
</div>
