---
layout: hpdefault
title: "HP Fanfiction | Kezdőlap"
permalink: /hp-fanfiction/
---
<div class="posts">
  {% for post in site.posts %}
    <article style="padding-bottom:1.5em;" class="post">

      <h1><a class="post-title" href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>
      <div>{{ post.date | date: "%-d %B %Y" }} | <span class="ert">
    ERT:
    {% assign words = post.content | strip_html | number_of_words %}
    {% assign ert = words | divided_by:250 | at_least: 1 %}
    {{ ert }} min{% if ert != 1 %}s{% endif %}
</span>
<p><span>
  {% for tag in post.tags %}
    {% capture tag_name %}{{ tag }}{% endcapture %}
    [<a class="tag-name" href="/tag/{{ tag_name }}">{{ tag_name | upcase}}</a>]
  {% endfor %}
</span></p>
      </div>
      <div class="entry">
        {{ post.excerpt }}
      </div>

      <a style="font-variant:all-petite-caps" href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More</a>
    </article>
  {% endfor %}
</div>

<style>
.footer {
  color: white;
  }
#main {
color:black;
min-height:2000px;
background-image:url("https://static1.squarespace.com/static/5907e7e7440243daba01563a/t/5ee8ad488ae9b41907ca4fcc/1592307037327/VladPan_Desktop_Wallpaper.jpg");
}
</style>

<div class="story">
<div>
<p>
Harry Potter és még valami
</p>
<table class="comment-like">
<tbody>
  <tr><td><img src="https://d33v4339jhl8k0.cloudfront.net/docs/assets/55e7171d90336027d77078f6/images/5a75c4a22c7d3a4a4198c56a/file-Og6PGLfTD5.png" width="30px" /></td><td>3</td><td><img src="https://www.freepnglogos.com/uploads/heart-png/emoji-heart-33.png" width="30px" /></td><td>23</td></tr>
</tbody>
</table>
</div>
</div>
<div class="story">
<div>
<p>
Harry Potter és még valami
</p>
<table class="comment-like">
<tbody>
  <tr><td><img src="https://d33v4339jhl8k0.cloudfront.net/docs/assets/55e7171d90336027d77078f6/images/5a75c4a22c7d3a4a4198c56a/file-Og6PGLfTD5.png" width="30px" /></td><td>3</td><td><img src="https://www.freepnglogos.com/uploads/heart-png/emoji-heart-33.png" width="30px" /></td><td>23</td></tr>
</tbody>
</table>
</div>
</div>
<div class="story">
<div>
<p>
Harry Potter és még valami
</p>
<table class="comment-like">
<tbody>
  <tr><td><img src="https://d33v4339jhl8k0.cloudfront.net/docs/assets/55e7171d90336027d77078f6/images/5a75c4a22c7d3a4a4198c56a/file-Og6PGLfTD5.png" width="30px" /></td><td>3</td><td><img src="https://www.freepnglogos.com/uploads/heart-png/emoji-heart-33.png" width="30px" /></td><td>23</td></tr>
</tbody>
</table>
</div>
</div>
<div class="story">
<div>
<p>
Harry Potter és még valami
</p>
<table class="comment-like">
<tbody>
  <tr><td><img src="https://d33v4339jhl8k0.cloudfront.net/docs/assets/55e7171d90336027d77078f6/images/5a75c4a22c7d3a4a4198c56a/file-Og6PGLfTD5.png" width="30px" /></td><td>3</td><td><img src="https://www.freepnglogos.com/uploads/heart-png/emoji-heart-33.png" width="30px" /></td><td>23</td></tr>
</tbody>
</table>
</div>
</div>
<div class="story">
<div>
<p>
Harry Potter és még valami
</p>
<table class="comment-like">
<tbody>
  <tr><td><img src="https://d33v4339jhl8k0.cloudfront.net/docs/assets/55e7171d90336027d77078f6/images/5a75c4a22c7d3a4a4198c56a/file-Og6PGLfTD5.png" width="30px" /></td><td>3</td><td><img src="https://www.freepnglogos.com/uploads/heart-png/emoji-heart-33.png" width="30px" /></td><td>23</td></tr>
</tbody>
</table>
</div>
</div>
<div class="story">
<div>
<p>
Harry Potter és még valami
</p>
<table class="comment-like">
<tbody>
  <tr><td><img src="https://d33v4339jhl8k0.cloudfront.net/docs/assets/55e7171d90336027d77078f6/images/5a75c4a22c7d3a4a4198c56a/file-Og6PGLfTD5.png" width="30px" /></td><td>3</td><td><img src="https://www.freepnglogos.com/uploads/heart-png/emoji-heart-33.png" width="30px" /></td><td>23</td></tr>
</tbody>
</table>
</div>
</div>
<div class="story">
<div>
<p>
Harry Potter és még valami
</p>
<table class="comment-like">
<tbody>
  <tr><td><img src="https://d33v4339jhl8k0.cloudfront.net/docs/assets/55e7171d90336027d77078f6/images/5a75c4a22c7d3a4a4198c56a/file-Og6PGLfTD5.png" width="30px" /></td><td>3</td><td><img src="https://www.freepnglogos.com/uploads/heart-png/emoji-heart-33.png" width="30px" /></td><td>23</td></tr>
</tbody>
</table>
</div>
</div>
<div class="story">
<div>
<p>
Harry Potter és még valami
</p>
<table class="comment-like">
<tbody>
  <tr><td><img src="https://d33v4339jhl8k0.cloudfront.net/docs/assets/55e7171d90336027d77078f6/images/5a75c4a22c7d3a4a4198c56a/file-Og6PGLfTD5.png" width="30px" /></td><td>3</td><td><img src="https://www.freepnglogos.com/uploads/heart-png/emoji-heart-33.png" width="30px" /></td><td>23</td></tr>
</tbody>
</table>
</div>
</div>
<div class="story">
<div>
<p>
Harry Potter és még valami
</p>
<table class="comment-like">
<tbody>
  <tr><td><img src="https://d33v4339jhl8k0.cloudfront.net/docs/assets/55e7171d90336027d77078f6/images/5a75c4a22c7d3a4a4198c56a/file-Og6PGLfTD5.png" width="30px" /></td><td>3</td><td><img src="https://www.freepnglogos.com/uploads/heart-png/emoji-heart-33.png" width="30px" /></td><td>23</td></tr>
</tbody>
</table>
</div>
</div>
<div class="story">
<div>
<p>
Harry Potter és még valami
</p>
<table class="comment-like">
<tbody>
  <tr><td><img src="https://d33v4339jhl8k0.cloudfront.net/docs/assets/55e7171d90336027d77078f6/images/5a75c4a22c7d3a4a4198c56a/file-Og6PGLfTD5.png" width="30px" /></td><td>3</td><td><img src="https://www.freepnglogos.com/uploads/heart-png/emoji-heart-33.png" width="30px" /></td><td>23</td></tr>
</tbody>
</table>
</div>
</div>
<div class="story">
<div>
<p>
Harry Potter és még valami
</p>
<table class="comment-like">
<tbody>
  <tr><td><img src="https://d33v4339jhl8k0.cloudfront.net/docs/assets/55e7171d90336027d77078f6/images/5a75c4a22c7d3a4a4198c56a/file-Og6PGLfTD5.png" width="30px" /></td><td>3</td><td><img src="https://www.freepnglogos.com/uploads/heart-png/emoji-heart-33.png" width="30px" /></td><td>23</td></tr>
</tbody>
</table>
</div>
</div>
<div class="story">
<div>
<p>
Harry Potter és még valami
</p>
<table class="comment-like">
<tbody>
  <tr><td><img src="https://d33v4339jhl8k0.cloudfront.net/docs/assets/55e7171d90336027d77078f6/images/5a75c4a22c7d3a4a4198c56a/file-Og6PGLfTD5.png" width="30px" /></td><td>3</td><td><img src="https://www.freepnglogos.com/uploads/heart-png/emoji-heart-33.png" width="30px" /></td><td>23</td></tr>
</tbody>
</table>
</div>
</div>
<div class="story">
<div>
<p>
Harry Potter és még valami
</p>
<table class="comment-like">
<tbody>
  <tr><td><img src="https://d33v4339jhl8k0.cloudfront.net/docs/assets/55e7171d90336027d77078f6/images/5a75c4a22c7d3a4a4198c56a/file-Og6PGLfTD5.png" width="30px" /></td><td>3</td><td><img src="https://www.freepnglogos.com/uploads/heart-png/emoji-heart-33.png" width="30px" /></td><td>23</td></tr>
</tbody>
</table>
</div>
</div>
<div class="story">
<div>
<p>
Harry Potter és még valami
</p>
<table class="comment-like">
<tbody>
  <tr><td><img src="https://d33v4339jhl8k0.cloudfront.net/docs/assets/55e7171d90336027d77078f6/images/5a75c4a22c7d3a4a4198c56a/file-Og6PGLfTD5.png" width="30px" /></td><td>3</td><td><img src="https://www.freepnglogos.com/uploads/heart-png/emoji-heart-33.png" width="30px" /></td><td>23</td></tr>
</tbody>
</table>
</div>
</div>
<div class="story">
<div>
<p>
Harry Potter és még valami
</p>
<table class="comment-like">
<tbody>
  <tr><td><img src="https://d33v4339jhl8k0.cloudfront.net/docs/assets/55e7171d90336027d77078f6/images/5a75c4a22c7d3a4a4198c56a/file-Og6PGLfTD5.png" width="30px" /></td><td>3</td><td><img src="https://www.freepnglogos.com/uploads/heart-png/emoji-heart-33.png" width="30px" /></td><td>23</td></tr>
</tbody>
</table>
</div>
</div>
<div class="story">
<div>
<p>
Harry Potter és még valami
</p>
<table class="comment-like">
<tbody>
  <tr><td><img src="https://d33v4339jhl8k0.cloudfront.net/docs/assets/55e7171d90336027d77078f6/images/5a75c4a22c7d3a4a4198c56a/file-Og6PGLfTD5.png" width="30px" /></td><td>3</td><td><img src="https://www.freepnglogos.com/uploads/heart-png/emoji-heart-33.png" width="30px" /></td><td>23</td></tr>
</tbody>
</table>
</div>
</div>