#crossword-passcode-submission label {
    display: block;
    padding: 0.5em;
}

#crossword-passcode-submission input {
    text-align: center;
    font-size: 80%;
    font-family: inherit;
}

.crossword-word-clue-close {
    position: absolute;
    top: 0.2em;
    right: 0.2em;
    width: 1.5em;
    aspect-ratio: 1 / 1;
    padding: 0 !important;
    font-variant-caps: all-small-caps;
    position: absolute;
    align-items: center;
    justify-content: center;
    color: #aaaaaa;
    flex: 0;
    display: flex;
    background: transparent;
    font-size: 90%;
}

.crossword-word-clue-close:hover,
.crossword-word-clue-close:focus {
    color: black;
    cursor: pointer;
}

#crossword-import {
    padding-bottom: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
}

#crossword-import button, #score-modal button {
    text-align: center;
    padding: 0.5em;
    font-size: 70%;
    font-variant-caps: all-small-caps;
    border: 1pt solid black;
}

#import p {
    width: 80%;
    font-size: 80%;
    margin: 1em auto;
    padding-bottom: 1em;
}

#score-modal button {
    display: block;
    margin: 0.5em auto;
}

#score-modal textarea {
    width: 80%;
    height: 5em;
    margin: 0.5em auto;
    resize: none;
    border: 1pt black solid;
    font-size: 80%;
    padding: 0.5em;
}

#score-modal label {
    font-size: 80%;
}

#score-modal input[type=radio] {
    vertical-align: text-top;
}

       @media screen {
#crossword-grid {
  background: black;
}
#crossword-grid svg {
  display: none;
}
}

#crossword-grid table {
  margin: auto;
}

#crossword-grid {
  padding: 0.5em 0;
}

    @media print {
        #page-title,
        .crossword-links,
        .button-container,
        #hamburger,
        #sticky,
        #how-to,
        #crossword-data,
        #crossword-wordlist,
        #clue-box,
        #crossword-buttons,
        #crossword-import {
            display: none !important;
        }

        html,
        body {
            height: auto !important;
        }

#crossword-title-header {
  text-align: center;
}
        #crossword-grid table,
        .active,
        .current-cell {
            background: transparent !important;
        }

        #crossword-grid {
            overflow-x: visible !important;
        }

        #crossword-grid svg {
  display: block !important;
}

.letter {
  border: 0 !important;
}
    }

    #crossword-wordlist {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        row-gap: 1em;
        justify-content: center;
    }

    .word-clue {
        position: relative;
        display: flex;
        justify-content: center;
        flex: 1 1 100%;
        border: 1pt black solid;
        min-height: 4em;
    }

    .word-clue>* {
        display: flex;
        flex: 1 1 50%;
        text-align: center;
        align-items: center;
        justify-content: center;
        padding: 1em;
    }

    .word {
        background: lightgray;
        font-variant-caps: all-small-caps;
    }

    .clue {
        border-left: 1pt solid black;
    }

    .clue, .word {
        padding: 1em 1.5em
    }

    .save-button {
        position: absolute;
        right: 0.2em;
        bottom: 0.2em;
        border-radius: 1em;
        align-items: center;
        justify-content: center;
        color: green;
        flex: 0;
        display: flex;
        background: transparent;
        border: 1pt green solid;
        font-variant-caps: all-small-caps;
        width: 1.5em;
        aspect-ratio: 1 / 1;
        padding: 0;
    }

    .save-button::before {
        content: "✓";
    }

    .save-button.saved {
        background: green;
        color: white;
    }

    #add-button,
    #generate-button,
    #crossword-show-button,
    #crossword-print-button {
        display: flex;
        text-align: center;
        font-variant-caps: all-small-caps;
        flex: 0 0 25%;
        min-width: calc(10ch + 2.5em);
        align-items: center;
        border: 1pt black solid;
        padding-block: 0;
        padding-inline: 0;
    }

    .button-caption {
        flex: 1;
    }

    button:hover {
        cursor: pointer;
        opacity: 0.9;
    }

    .button-icon,
    #generate-square {
        display: flex;
        flex: 1;
        max-width: 1.5em;

        justify-content: center;
        text-align: center;
        align-self: center;
        align-items: center;
        padding: 0.5em;
        background: black;
        color: white;
        border: 1pt black solid;
        aspect-ratio: 1 / 1;
    }

    #generate-square {
        display: flex;
        max-width: fit-content;
        padding: 0.5em;
        border: 1pt white solid;
        background: white;
        width: 70%;
        aspect-ratio: 1 / 1;
        align-self: center;
    }

    #crossword-data {
        display: flex;
        flex-wrap: wrap;
        row-gap: 1em;
        padding: 0 0 1em 0;
        width: 100%;
    }

    #crossword-data label {
        position: relative;
        font-variant-caps: all-small-caps;
        background: black;
        color: white;
        padding: 1em;
        width: calc(8ch + 2em);
        text-align: center;
        border: 1pt black solid;
        border-right: 0;

    }

    #crossword-data input {
        text-align: center;
        width: 100%;
        border: 1pt black solid;
        font-size: inherit;
        font-family: inherit;
    }

    #crossword-title,
    #crossword-passcode {
        display: flex;
        flex: 1 1 100%;
        background: lightgray;
        color: black;
    }

    #how-to {
        padding-inline: 1.5em;
    }

    #how-to li {
        padding: 0.5em;
    }

    #crossword-show-button .button-caption::before {
        content: "Show";
    }

    #crossword-show-button.hide .button-caption::before {
        content: "Hide";
    }

    #crossword-buttons, .button-container {
      display: flex;
      flex-wrap: wrap;
      gap: 1em;
      padding: 1em 0 0 0;
      justify-content: center;
    }

    #clue-box {
    z-index: 1;
    -webkit-backface-visibility: hidden;
    position: sticky;
    top: 0;
    left: 0;
    width: calc(100% - 2em);
    height: fit-content;
    min-height: 2em;
    background: lightgray;
    text-align: center;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    padding: 0.5em 1em;
    }

.letter {
  border: 1pt black solid;
}

.crossword-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    width: 100%;
    row-gap: 1em;
    padding-bottom: 1em;
}

.flex-row {
  display: flex;
  flex: 1 1 100%;
}

.crossword-links>*>* {
    display: flex;
    flex: 0;
    padding: 1em;
    text-align: center;
    align-items: center;
    justify-content: center;
    border: 1pt black solid;
}

.crossword-link-key, .crossword-link-no-key {
    flex: 1 0 20%;
    background: black;
    color: white;
    max-width: 15ch;
    font-variant-caps: all-small-caps;
}

.crossword-link-no-key::before {
content: "Your crossword";
}

.crossword-link-key::before {
content: "Answer key";
}

.crossword-link {
    flex: 1 1 auto;
    border: 0;
    border-top: 1pt black solid;
    border-bottom: 1pt black solid;
    font-size: small;
        word-break: break-word;
}

.crossword-link a {
  text-decoration: none;
}

.crossword-link-copy {
    font-variant: all-small-caps;
    background: #007dff;
    border: 1pt black solid;
}

.crossword-link-copy::before {
  content:"Copy";
}

.crossword-link-copy.copied {
    background: lightskyblue;
}


.crossword-link-copy.copied::before {
  content:"Copied!";
}

/////////////////////////////////////////////////

table {
  font-family:sans-serif;
  border-collapse:collapse;
  background:black;
}

td {
  position:relative;
  width:2em;
  height:2em;
  text-align:center;
}

.letter {
  background:white;
  border: 1pt black solid
}

.number {
    font-size: x-small;
    position: absolute;
    top: 0;
    left: 0.1em;
}

.black {
  background-color: black;
}

textarea {
  font-family:inherit;
  font-size:inherit;
  width:50%;
  display:block;
  margin:0.5em 0;
}

#crossword-buttons {
  justify-content: center;
  display: flex;
  gap: 1em;
}

.active {
  background:lightskyblue;
}

#crossword {
/*  position: absolute;
    top: 2.5em; 
-- Equals with the expected height of clue-box. --
*/
}

#crossword-grid {
  overflow-x: scroll;
}

#crossword-grid table {
  width: max-content;
}

.crossword-input {
 text-transform: uppercase;
 cursor: pointer;
 display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    background: transparent;
    top: 0;
    left: 0;
    text-align: center;
    width: 100%;
    height: 100%;
    border: 0pt;
    position: absolute;
}

@media (max-width: 767px) {
    .crossword-input {
      font-size: x-small;
    }
  }

.current-cell {
  background: #007dff;
}

.correct {
  background: lightgreen;
}

.incorrect {
  background: #FFC300;
}

#clue-box {
  z-index: 1;
   -webkit-backface-visibility: hidden;
  /*  position:fixed; -- Does 'sticky' work on mobile devices? -- */
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    height: fit-content;
    min-height: 2em;
    background: lightgray;
    text-align: center;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    padding: 0.5em 0;
}

.modal-basis {
    z-index: 2;
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    vertical-align: middle;
}

.modal-box {
    position: relative;
    margin: auto;
    background-color: white;
    width: 80%;
    padding: 0.5em;
    text-align: center;
    -webkit-border-radius: 0.2em;
    -moz-border-radius: 0.2em;
    border-radius: 0.2em;
    border: 1pt black solid;
}

.modal-close {
    position: absolute;
    top: 0.2em;
    right: 0.5em;
    font-weight: bold;
    color: #aaaaaa;
    font-size: 28px;
}

.modal-close:hover,
.modal-close:focus {
    color: black;
    cursor: pointer;
}

.show {
  background: white
}