{% assign yearsInStandard = site.pages | where_exp: "item" , "item.url contains '/erettsegi/standard/'" | sort: "path" | reverse %}

{% assign yearsList = "" %}

{% for year in yearsInStandard %}
    {% assign depth = year.path | split: "/" | size %}
    {% if depth == 3 %}
        {% assign yearsList = yearsList | append: year.name | replace: ".html", "" | append: "," %} 
    {% endif %}
{% endfor %}

{% assign trimmedList = yearsList | slice: 0, yearsList.size - 1 %}
{% assign years = trimmedList | split: "," %}