{% assign taskData = page.path | replace: ".html", "" | replace: ".md", "" | split: "/" %}

{% assign level = taskData[1] %}

{% assign year = taskData[2] %}

{% assign part = taskData[3] %}

{% assign taskName = taskData[4] | split: "-" %}

{% assign task = taskName[1] %}

{% comment %}
{{ level }} {{ year }} {{ part }} {{ task }}
{% endcomment %}

{% assign years = "05maj,05nov,06feb,06maj,06okt,07maj,07okt,08maj,08okt,09maj,09okt,10maj,10okt,11maj,11okt,12maj,12okt,13maj,13okt,14maj,14okt,15maj,15okt,16maj,16okt,17maj,17okt,18maj,18okt,19maj,19okt,20maj,20okt,21maj,21okt,22maj,22okt,23maj,23okt" | split: "," %}

{% for y in years %}
{% if y == year %}
{% assign index = forloop.index0 %}
{% break %}
{% endif %}
{% endfor %}

{% assign size = years | size %}
{% assign almostanend = size | minus: 3 %}
{% if index > almostanend %}
{% assign difference = size | minus: index %}
{% assign start = index | minus: 5 | plus: difference %}
{% assign yearsAround = years | slice: start, 5 %}
{% elsif index < 2 %}
{% assign difference = 5 | minus: index %}
{% assign end = index | plus: difference %}
{% assign yearsAround = years | slice: 0, end %}
{% else %}
{% assign start = index | minus: 2 %}
{% assign end = index | plus: 3 | minus: start %}
{% assign yearsAround = years | slice: start, end %}
{% endif %}

{% if part %} 
{% assign partToGo = part %}
{% else %}
{% assign partToGo = "reading" %}
{% endif %}

{% if year %} 
{% assign yearToGo = year %}
{% else %}
{% assign lengthOfYears = years | size | minus: 1 %}
{% assign yearToGo = years[lengthOfYears] %}
{% endif %}

{% if level %}
<div class="navbar-levels">
{% if level == "standard" %}
<div class="present">
<a href="/erettsegi/standard/{{ yearToGo }}/{{ partToGo }}">közép</a>
</div>
<div>
<a href="/erettsegi/higher/{{ yearToGo }}/{{ partToGo }}">emelt</a>
</div>
{% elsif level == "higher" %}
<div>
<a href="/erettsegi/standard/{{ yearToGo }}/{{ partToGo }}">közép</a>
</div>
<div class="present">
<a href="/erettsegi/higher/{{ yearToGo }}/{{ partToGo }}">emelt</a>
</div>
{% endif %}
</div>
{% endif %}

{% if year %}
<div class="navbar-years">
{% if index != 0 %}	
<div class="prev-button">
{% assign prevIndex = index | minus: 1 %}
<a href="/erettsegi/{{ level }}/{{ years[prevIndex] }}/{{ partToGo }}">&nbsp;</a>
</div>
{% endif %}
{% for yearAround in yearsAround %}
{% if yearAround == year %}
<div class="present erettsegi-year">
<a href="/erettsegi/{{ level }}/{{ yearAround }}/{{ partToGo }}">
{{ yearAround }}
</a>
</div>
{% else %}
<div class="erettsegi-year">
<a href="/erettsegi/{{ level }}/{{ yearAround }}/{{ partToGo }}">
{{ yearAround }}
</a>
</div>
{% endif %}
{% endfor %}
{% assign lastIndex = size | minus: 1 %}
{% if index != lastIndex %}
<div class="next-button">
{% assign nextIndex = index | plus: 1 %}
<a href="/erettsegi/{{ level }}/{{ years[nextIndex] }}/{{ partToGo }}">&nbsp;</a>
</div>
{% endif %}
</div>
{% endif %}

<div class="navbar-parts">
{% if partToGo == "reading" %}
<div class="present">
<a href="/erettsegi/{{ level }}/{{ year }}/reading">
olvasott szöveg értése
</a>
</div>
<div>
<a href="/erettsegi/{{ level }}/{{ year }}/uoe">
nyelvhelyesség
</a>
</div>
{% else %}
<div>
<a href="/erettsegi/{{ level }}/{{ year }}/reading">	
olvasott szöveg értése
</a>
</div>
<div class="present">
<a href="/erettsegi/{{ level }}/{{ year }}/uoe">
nyelvhelyesség
</a>
</div>
{% endif %}
</div>

{% if level == "standard" and part == "uoe" %}
{% assign lastIndexOfTasks = 3 %}
{% else %}
{% assign lastIndexOfTasks = 4 %}
{% endif %}

{% if task %}
{% assign taskToGo = task %}
{% else %}
{% assign taskToGo = "1" %}
{% endif %}

<div class="navbar-tasks">
{% for i in (1..lastIndexOfTasks) %}
{% assign i_str = i | append: "" %}
{% if i_str == taskToGo %}
<div class="present"><a href="/erettsegi/{{ level }}/{{ year }}/{{ partToGo }}/{{ partToGo }}-{{ i_str }}.html">{{ i }}</a></div>
{% else %}
<div><a href="/erettsegi/{{ level }}/{{ year }}/{{ partToGo }}/{{ partToGo }}-{{ i_str }}.html">{{ i }}</a></div>
{% endif %}
{% endfor %}
</div>