<div id="erettsegi-footer">

<div class="question">Still haven't found what you were looking for?</div>

<div class="answer">Search 600 tasks using keywords</div>

<div class="search-bar-container">
    <form class="search-form">
        <input type="text" placeholder="Search 600 tasks using keywords" class="search-input">
        <button type="submit" class="search-button">
            <i class="fa fa-search"></i>
        </button>
    </form>
</div>

</div>

<script>

searchInput = document.querySelector(".search-input")

searchInput.addEventListener("focus",function() {

searchInput.scrollIntoView({behavior:"smooth"})

})

</script>


