<div id="erettsegi-footer">

<div class="question">{{ question }}</div>

<div class="answer">Search 600 tasks using keywords</div>

<div class="search-bar-container">
    <form class="search-form">
        <input type="text" placeholder="Search 600 tasks using keywords" class="search-input">
        <button type="button" class="search-button">
            <i class="fa fa-search"></i>
        </button>
    </form>
</div>

</div>

<script>

searchInput = document.querySelector(".search-input")

searchInput.addEventListener("focus",function() {
searchInput.scrollIntoView({ behavior: "smooth" })
})

function searchKeywords() {

keywords = searchInput.value.trim().toLowerCase()

if(keywords) {
searchUrl = "/erettsegi/search?q=" + encodeURIComponent(keywords)
window.open(searchUrl, "_blank")     
}


}

searchForm = document.querySelector(".search-form")

searchForm.addEventListener("submit",function(event) {
event.preventDefault();
searchKeywords()
})

searchButton = document.querySelector(".search-button")

searchButton.addEventListener("click",function(event) {
event.preventDefault();
searchKeywords()
})

</script>


