{% assign taskData = page.path | replace: ".html", "" | replace: ".md", "" | split: "/" %}

{% assign level = taskData[1] %}

{% assign year = taskData[2] %}

{% assign part = taskData[3] %}

{% assign taskName = taskData[4] | split: "-" %}

{% assign task = taskName[1] %}

{% comment %}
{{ level }} {{ year }} {{ part }} {{ task }}
{% endcomment %}

{% include erettsegi-years.html %}

{% for y in years %}
{% if y == year %}
{% assign index = forloop.index0 %}
{% break %}
{% endif %}
{% endfor %}

{% assign size = years | size %}
{% assign almostanend = size | minus: 3 %}
{% if index > almostanend %}
{% assign difference = size | minus: index %}
{% assign start = index | minus: 5 | plus: difference %}
{% assign yearsAround = years | slice: start, 5 %}
{% elsif index < 2 %}
{% assign difference = 5 | minus: index %}
{% assign end = index | plus: difference %}
{% assign yearsAround = years | slice: 0, end %}
{% else %}
{% assign start = index | minus: 2 %}
{% assign end = index | plus: 3 | minus: start %}
{% assign yearsAround = years | slice: start, end %}
{% endif %}

{% if part %} 
{% assign partToGo = part %}
{% else %}
{% assign partToGo = "reading" %}
{% endif %}

{% if year %} 
{% assign yearToGo = year %}
{% else %}
{% assign lengthOfYears = years | size | minus: 1 %}
{% assign yearToGo = years[lengthOfYears] %}
{% endif %}

<h2 class="erettsegi-title">
	<span>érettségi / </span>

<select id="level">
            <option value="standard" {% if level == "standard" %} selected {% endif %}>közép</option>
            <option value="higher" {% if level == "higher" %} selected {% endif %}>emelt</option>
        </select>

{% if year %}
 / 
<select id="year"> 
        {% for y in years %}
        <option value="{{ y }}" {% if y == year %} selected {% endif %}>{{ y }}</option>
        {% endfor %}
        </select>

{% endif %}

{% if part %}
 / 
<select id="part">
            <option value="reading" {% if part == "reading" %} selected {% endif %}>olvasott szöveg értése</option>
            <option value="uoe" {% if part == "uoe" %} selected {% endif %}>nyelvhelyesség</option>
        </select>

{% endif %}

 / 
<select id="task">
            
{% if level == "standard" and part == "uoe" %}
{% assign lastIndexOfTasks = 3 %}
{% else %}
{% assign lastIndexOfTasks = 4 %}
{% endif %}

<option value="" {% unless task %} selected {% endunless %}>1-{{ lastIndexOfTasks }}</option>
{% for i in (1..lastIndexOfTasks) %}
{% assign i_str = i | append: "" %}
<option value="{{ i }}" {% if task == i_str %} selected {% endif %}>{{ i }}</option>
{% endfor %}
</select>

</h2>

<script>

selects = document.querySelectorAll(".erettsegi-title select")

for (select of selects) {

select.addEventListener("change", (event) => {

data = event.target.parentElement.getElementsByTagName("select")

level = data[0].value

year = data[1].value

part = data[2].value

task = data[3].value != "" ? ("/" + part + "-" + data[3].value + ".html") : ""

link = "/erettsegi/" + level + "/" + year + "/" + part + task

window.open(link,"_self")

})

}


</script>


