---
layout: default
---
<script src="/erettsegi/buttons.js">
</script>
<script src="/erettsegi/pick-drop-isvisible.js">
</script>
<script src="/erettsegi/create-task.js">
</script>
<style>
	#feedback-form label, #feedback-form input {
    display: block;
    margin: auto;
    width: 80%;
    padding: 0.5em;
    text-align: left;
}

#feedback-form label {
  text-align: center;
}

#feedback-form input, #feedback-form div {
  background: whitesmoke;
  border: 1pt black solid;
  padding:0.5em;
  margin-bottom: 1em;
}

#feedback-form div {
  width: fit-content;
  display: inline-block
}

#feedback-form button {
    font-variant-caps: all-small-caps;
    padding: 1em;
    margin: 0.5em;
    border: 0pt;
    background: palegreen;
}

#feedback-form button:hover {
  opacity: 0.9;
  cursor: pointer
}
</style>

<script>
	function showReportModal() {
reportFormData = [["form-task","Melyik feladatot érinti a hiba?"],["form-problem","Mi a probléma?"],["form-suggestions","Milyen javaslataid vannak még?"]]

		form = document.createElement("FORM");
		form.id = "feedback-form";
		h2 = document.createElement("H2");
		h2.innerHTML = "Visszajelzési űrlap";
		form.appendChild(h2)
		for (i=0;i<reportFormData.length;i++) {
label = document.createElement("LABEL");
label.for = reportFormData[i][0];
label.innerHTML = reportFormData[i][1];
form.appendChild(label)
if (i==0) {
div = document.createElement("DIV");
span = document.createElement("SPAN");
span.innerHTML = '{{ page.permalink | replace: "/erettsegi/", "" | replace: "/", " | " }}'
div.appendChild(span)
		select = document.createElement("SELECT");
		h2s = document.getElementById("content-container").getElementsByTagName("h2");
		for (z=0; z<h2s.length; z++) {
			option = document.createElement("OPTION");
			option.innerHTML = h2s[z].innerText.replace("SRCKEY","");
			select.appendChild(option);
		}
div.appendChild(select)	
form.appendChild(div)
} else {
	input = document.createElement("INPUT");
	input.type = "text";
	input.id = reportFormData[i][0];
	form.appendChild(input)
}
		}

button = document.createElement("BUTTON");
button.id = "form-button";
button.innerHTML = "Küldés";

form.appendChild(button)

document.querySelector("#score-modal p").innerHTML = ""
document.querySelector("#score-modal p").appendChild(form)

document.querySelector("#score-modal").parentElement.style.display = "flex";

	}
</script>

<button id="report-button">Report</button>

<script>
{% if page.task_id %}
{% assign taskids = page.task_id | split: "," %}
{% else %}
{% assign taskids = "" | split: "," %}
{% assign tasks = site.pages | where_exp: "item" , "item.url contains page.permalink" | where_exp: "item" , "item.url != page.url" | sort: "path" %}
{% for task in tasks %}
{% if task.url != page.url %}
{% assign taskids = taskids | push: task.task_id %}
{% endif %}
{% endfor %}
{% endif %}

{% for taskid in taskids %}
createTask("{{ taskid }}");
{% endfor %}

document.getElementById("report-button").addEventListener("click",showReportModal)

</script>