---
layout: default
---
    <div>
{% include erettsegi-titles.html %}
<h1>{{ htitle }}</h1>

{% assign depth = page.path | split: "/" | size | plus: 1 %}
{% if depth > 3 %}
{% include erettsegi-navbar.html %}
{{ erettsegi-navbar }}
{% endif %}

       {{ content }} 
        <ul class="erettsegi-list">
            {% if depth < 4 %}
            {% assign tasks = site.pages | where_exp: "item" , "item.url contains page.permalink" | sort: "path" | reverse %}
            {% else %}
            {% assign tasks = site.pages | where_exp: "item" , "item.url contains page.permalink" | sort: "path" %}
            {% endif %}
   {% for task in tasks %}
    {% assign depthChild = task.path | split: "/" | size %}
        {% if depthChild == depth %}
        {% if depth == 3 %}
            <a href="{{ task.url }}reading"><li>
        {% else %}
            <a href="{{ task.url }}"><li>
        {% endif %}
                    {{ task.path | replace: "/"," / " | replace: "-", " / " | remove: ".html" | remove: ".md" | remove: title | remove_first: "/ " | replace:
        "standard", "közép" | replace: "higher", "emelt" | replace: "uoe", "nyelvhelyesség" | replace:
        "reading", "olvasott szöveg értése" | replace: "erettsegi","érettségi" }}
                </li></a>
        {% endif %}
    {% endfor %}
        </ul>
    </div>