---
layout: hp-default
---

<script>

function sendPlusOne() {
xhr = new XMLHttpRequest();
dataTable = "https://script.google.com/macros/s/AKfycbyYc-8x4hLy4TM5ASnU2sw1OfkHGe4PnrlmkvOLBvEL9dEHomicOatwWiuxJXxUuY4/exec"
xhr.open('POST', dataTable, true);
xhr.setRequestHeader('Content-type', 'application/x-www-form-urlencoded');
xhr.send('name=' + "Török Márk");
document.getElementById("heart").removeEventListener("click",sendPlusOne)
}

document.getElementById("heart").addEventListener("click",sendPlusOne)

</script>