---
layout: hpdefault
---
<script>
  alert("hiiiii")
function sendPlusOne() {
xhr = new XMLHttpRequest();
dataTable = "https://script.google.com/macros/s/AKfycbzh61GzScy5bCNPDFL_6d_CDwTljnu3oNY6VfdUtQMVfhIbB3h-fAMybRemOgFAe_iL/exec"
xhr.open('POST', dataTable, true);
xhr.setRequestHeader('Content-type', 'application/x-www-form-urlencoded');
xhr.send('name=' + "Török Márk");
document.getElementById("heart").removeEventListener("click",sendPlusOne)
}
document.getElementById("heart").addEventListener("click",sendPlusOne)
</script>