---
layout: hpdefault
---
{{page.content}}
<style>
  .footer {
    color: black;
    }
</style>

<script>
function loadXMLDoc() {
  var xhttp = new XMLHttpRequest();
  xhttp.onreadystatechange = function() {
    if (this.readyState == 4 && this.status == 200) {
      
      posts = []
      columns = this.responseText.split("\r\n")[0].split(",").length; //For possible future purposes.
      data = this.responseText.split("\r\n");
      
      
      for (i=0; i<data.length; i++) {
      if (data[i].split(",")[3] === window.location.href.split("#")[0] && data[i].split(",")[8] === "1") {
      postObject = {
      "date":data[i].split(",")[0],
      "name":data[i].split(",")[1],
      "comment":data[i].split(",")[2],
      "link":data[i].split(",")[3],
      "recaptcha":data[i].split(",")[4],
      "post-id":data[i].split(",")[5],
      "reply-to":data[i].split(",")[6],
      "reply-to-name":data[i].split(",")[7],
      "moderated":data[i].split(",")[8]
      }
      posts.push(postObject)
      }
      }
    
      numCom = posts.length;
      postCommentNumber = document.createElement("DIV");
      if (numCom<2) {postCommentNumber.innerHTML = numCom + " comment"} else {postCommentNumber.innerHTML = numCom + " comments"};
      postCommentNumber.className = "post-comment-number"
      document.getElementsByClassName("footer")[0].prepend(postCommentNumber);
      
      for (i=0;i<posts.length;i++) {
      commentBody = document.createElement("DIV");
      commentBody.setAttribute("id",posts[i]["post-id"]);
      
      header = document.createElement("DIV");
      header.className = "post-comment-header"
 commenterName = document.createElement("SPAN");
 commenterName.className = "post-comment-name"
 commenterName.innerText = posts[i].name;
 date = document.createElement("SPAN");
 date.className = "post-comment-date"
 date.innerText = posts[i].date;
 header.appendChild(commenterName);
 header.appendChild(date);
 
 comment = document.createElement("DIV");
 if (posts[i]["reply-to"] === "") {
 comment.innerText = decodeURIComponent(posts[i].comment);
 } else {
 comment.innerHTML = "<a href='#" + posts[i]["reply-to"] + "'>@" + posts[i]["reply-to-name"] + "</a> " + decodeURIComponent(posts[i].comment);
 }
 comment.style.backgroundColor = "lightgoldenrodyellow";
 comment.className = "post-comment-content"
 
 replyDiv = document.createElement("DIV");
 replyDiv.style.display = "flex";
 replyDiv.style.justifyContent = "flex-end"
 replyDiv.className = "reply-button-container"
 
 reply = document.createElement("BUTTON");
 reply.className = "reply-button";
 reply.innerText = "Reply";
 replyDiv.appendChild(reply)
 
 commentBody.className = "post-comment";
 
 commentBody.appendChild(header)
 commentBody.appendChild(comment)
 commentBody.appendChild(replyDiv)
 
 document.getElementsByClassName("footer")[0].previousElementSibling.appendChild(commentBody)
      }
      
      
      replyButtons = document.getElementsByClassName("reply-button");
      for (i=0; i<replyButtons.length; i++) {
      replyButtons[i].addEventListener("click",function(){
      replyTo = this.parentElement.parentElement.id
      replyToName = this.parentElement.parentElement.children[0].children[0].innerText
      document.getElementById("leave-a-comment").classList.add("leave-a-comment1");
      for (i=0; i<replyButtons.length; i++) {
      replyButtons[i].parentElement.style.display = "flex"
      replyButtons[i].style.display = "block"
      if (replyButtons[i].nextElementSibling) {
      replyButtons[i].nextElementSibling.remove()
      }
      }
      this.style.display = "none";
      document.getElementsByClassName("comment-form-container")[document.getElementsByClassName("comment-form-container").length-1].style.display = "block"
      document.getElementsByClassName("comment-form-container")[document.getElementsByClassName("comment-form-container").length-1].style.display = "none"
   
      this.parentElement.style.display = "block";
          sampleForm =  document.createElement("DIV");
   sampleForm.innerHTML = '<table style="width:100%"><tbody><tr><td style="width:50%"><div style="width:100%"><input type="text" style="width:100%" placeholder="Name"></div></td><td style="width:50%"><div style="display:flex;align-items:center;"><input type="checkbox"><label>I <i>am</i> a robot.</label></div></td></tr><tr><td colspan="2"><textarea style="width:100%;height:15vh;resize:none" placeholder="Write your comment here"></textarea></td></tr><tr><td colspan="2"> <div style="display:flex;justify-content:flex-end;padding: 0.5em 1em 1em 0em;"><button class="submit-button">Submit</button></div></td></tr></tbody></table>'
        //alert(sampleForm.innerHTML)
      this.parentElement.appendChild(sampleForm)
       
        
      submitButton();
      })
      }
      //document.getElementById("demo").innerHTML = JSON.stringify(posts)
    }
  };
  xhttp.open("GET", "https://docs.google.com/spreadsheets/d/e/2PACX-1vQg6dmeH1EYHwCm1zLmGSI34IC9Uchtf8pWL3KfqnPIMbSbFl-DB1jptcCjuIlP3e4mRVmcG7PbGuGz/pub?gid=0&single=true&output=csv", true);
  xhttp.send();
 }
</script>