---
layout: default
---
<style>
  body {
    width:100%;
  }
</style>
<p>{{ page.date | date: "%-d %B %Y" }}  | <span class="ert">
    ERT:
    {% assign words = page.content | strip_html | number_of_words %}
    {% assign ert = words | divided_by:250 | at_least: 1 %}
    {{ ert }} min{% if ert != 1 %}s{% endif %}
</span></p>

{{ content }}
<script>
pages = document.getElementsByClassName("pages-button");
for (i=0; i<pages.length; i++) {
  if(("/" + pages[i].textContent.toLowerCase() + "/") === "/blog/") {
    pages[i].classList.toggle("pages-button-current");
    pages[i].style.backgroundColor = "lightgreen";
    pages[i].style.fontWeight = "bold"
  }
}
</script>
