---
layout: default
---
<p>{{ page.date | date: "%-d %B %Y" }}  | <span class="ert">
    <acronym title="Estimated reading time">ERT</acronym>:
    {% assign words = page.content | strip_html | number_of_words %}
    {% assign ert = words | divided_by:250 | at_least: 1 %}
    {{ ert }} min{% if ert != 1 %}s{% endif %}
</span></p>
<p><span>
  {% for tag in page.tags %}
    {% capture tag_name %}{{ tag }}{% endcapture %}
    [<a class="tag-name" href="/tag/{{ tag_name }}">{{ tag_name | upcase}}</a>]
  {% endfor %}
</span></p>
{% if page.tags contains "movies" %}  
  <div id="rating-container2">
  <div style="text-align:center;background-color:antiquewhite;padding:0.5em">
  <b style="font-size:150%;">{{ page.score }}</b>/5
  </div>
  <div id="rating-container">
  <div id="rating-basic-stars">★★★★★</div>
  <div id="rating-rating" style="--rate:{{ page.score }}">★★★★★</div>
  </div>
  </div>
{% endif %}
{{ content }}
<hr>
<div style="font-size:150%;font-weight:bold;font-variant:all-petite-caps;padding:5px 10px;">Comments</div>
<script>
pages = document.getElementsByClassName("pages-button");
for (i=0; i<pages.length; i++) {
  if(("/" + pages[i].textContent.toLowerCase() + "/") === "/blog/") {
    pages[i].classList.toggle("pages-button-current");
    pages[i].style.backgroundColor = "palegreen";
    pages[i].style.fontWeight = "bold"
  }
}
</script>
<head>
<script src="https://www.google.com/recaptcha/api.js" async defer></script>
</head>
<style>
.post-comment-number {
  font-size:110%;
  font-weight: bold;
  padding:1em;
}
.post-comment {
 clear:right;
 padding-left:1em;
 max-width:100%;
}
.post-comment-content, .post-comment-header, .reply-button-container {
  padding:1em
}
.post-comment-date {
  color:gray;
}
.post-comment-name {
  font-weight:bold;
  padding-right:0.5em;
}
.reply-button, .submit-button {
 border:none;
 background-color: antiquewhite;
 padding:0.6em;
 font-size: 90%;
 font-variant: all-petite-caps;
 cursor: pointer;
}
.reply-button:hover, .submit-button:hover {
 opacity:0.9
}
#comment-section input[type=text], textarea {
padding:0.5em;
font-family:inherit;
font-size:100%;
box-sizing: border-box;
}
#comment-section input[type=checkbox] {
min-height:20px;
min-width:20px
}
#comment-section label {
  font-size: clamp(0.5em, 2.5vw, 1.5em);
}
.comment-form-container {
  padding:1em 10% 1em 1em;
}
.leave-a-comment1:hover {
  text-decoration: underline;
  cursor:pointer;
  color:blue
}
</style>
<div id="comment-section">
<button id="recaptcha" style="display:none" class="g-recaptcha" data-sitekey="6Ld802sgAAAAABSZiOb1YDO0ApjEkmx4PNVh03tM" data-callback="onSubmit">
</button>
<div style="min-width:fit-content;max-width:50vw;padding-right:10%" id="demo">
</div>

<div id="leave-a-comment" style="padding: 0em 1em;font-size: 110%;font-weight: bold;">Leave a comment</div>
<div class="comment-form-container" style="min-width:fit-content;max-width:50vw;">
<table style="width:100%"><tbody>
<tr><td style="width:50%"><div style="width:100%"><input type="text" style="width:100%" placeholder="Name"></div></td><td style="width:50%"><div style="        display:flex;
        align-items:center;">
<input type="checkbox"><label>I <i>am</i> a robot.</label></div></td></tr>
<tr><td colspan="2"><textarea style="width:100%;height:15vh;resize:none" placeholder="Write your comment here"></textarea></td></tr>
<tr><td colspan="2"> <div style="display:flex;justify-content:flex-end;padding: 0.5em 1em 1em 0em;">
<button class="submit-button">
Submit
</button>
</div></td></tr>
 
  </tbody></table>
</div>
</div>
<script>
replyTo = ""
replyToName = ""
commenterNameData = "";
commenterCheckBoxcheckedData = "";
commenterCommentData = "";
  buttonData = document.getElementsByClassName("submit-button")[document.getElementsByClassName("submit-button").length-1];
  sampleForm =  document.createElement("DIV");
  sampleForm.innerHTML = '<table style="width:100%"><tbody><tr><td style="width:50%"><div style="width:100%"><input type="text" style="width:100%" placeholder="Name"></div></td><td style="width:50%"><div style="display:flex;align-items:center;"><input type="checkbox"><label>I <i>am</i> a robot.</label></div></td></tr><tr><td colspan="2"><textarea style="width:100%;height:15vh;resize:none" placeholder="Write your comment here"></textarea></td></tr><tr><td colspan="2"> <div style="display:flex;justify-content:flex-end;padding: 0.5em 1em 1em 0em;"><button class="submit-button">Submit</button></div></td></tr></tbody></table>'

function submitButton(){
  document.getElementById("leave-a-comment").classList.add("leave-a-comment1");
 for (i=0; i<document.getElementsByClassName("submit-button").length; i++) {
   document.getElementsByClassName("submit-button")[i].addEventListener("click",function() {
     container = this.parentElement.parentElement.parentElement.parentElement.parentElement;
    //name	comment	link	recaptcha	reply-to	reply-to-name checked
     commenterNameData = container.getElementsByTagName("input")[0].value 
     commenterCheckBoxcheckedData = container.getElementsByTagName("input")[1].checked
     commenterCommentData = encodeURIComponent(container.getElementsByTagName("textarea")[0].value);
     buttonData = this;
     if (commenterNameData && commenterCommentData && commenterCheckBoxcheckedData != true) {
     this.disabled = true;
     document.getElementById("recaptcha").click()
     }
                                                                                           });
 }
}

loadXMLDoc()
  
submitButton()
  
onSubmit = function(token){
  var xhttp = new XMLHttpRequest();
xhttp.open("POST", "https://script.google.com/macros/s/AKfycbzkFnl2gLfM7QlU_PHOCao5zMBX_rUZqx6_0jhgu-5fdg3juuNFHY0D_MrIa0TSXNDxwQ/exec", true);

xhttp.onreadystatechange = function() {
    if (this.readyState == 4 && this.status == 200) {
   //alert(xhttp.responseText)
       // Typical action to be performed when the document is ready:
       if (xhttp.responseText === "Successful submission") {
        buttonData.parentElement.parentElement.parentElement.parentElement.parentElement.innerHTML = "Thank you, your comment will be visible after approval."
       } else if (xhttp.responseText != "Successful submission") {
        buttonData.parentElement.parentElement.parentElement.parentElement.parentElement.innerHTML = "Something went wrong. Refresh the page and try again."       
       }
    }
};

xhttp.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
  
xhttp.send('name=' + commenterNameData + '&checked=' + commenterCheckBoxcheckedData + "&g-recaptcha-response=" + token + "&comment=" + commenterCommentData + "&link=" + window.location.href.split("#")[0] + "&reply-to=" + replyTo + "&reply-to-name=" + replyToName);
}
  
document.getElementById("leave-a-comment").addEventListener("click",function(){
document.getElementById("leave-a-comment").classList.remove("leave-a-comment1");
  container = document.getElementsByClassName("comment-form-container")[document.getElementsByClassName("comment-form-container").length-1];
  if(container.innerText === "Thank you, your comment will be visible after approval.") {
  container.innerHTML = ""
    sampleForm =  document.createElement("DIV");
  sampleForm.innerHTML = '<table style="width:100%"><tbody><tr><td style="width:50%"><div style="width:100%"><input type="text" style="width:100%" placeholder="Name"></div></td><td style="width:50%"><div style="display:flex;align-items:center;"><input type="checkbox"><label>I <i>am</i> a robot.</label></div></td></tr><tr><td colspan="2"><textarea style="width:100%;height:15vh;resize:none" placeholder="Write your comment here"></textarea></td></tr><tr><td colspan="2"> <div style="display:flex;justify-content:flex-end;padding: 0.5em 1em 1em 0em;"><button class="submit-button">Submit</button></div></td></tr></tbody></table>'
  container.appendChild(sampleForm)
  }
  container.style.display = "block"
submitButton();

 for (i=0; i<replyButtons.length; i++) {
     replyButtons[i].parentElement.style.display = "flex"
     replyButtons[i].style.display = "block"
     if (replyButtons[i].nextElementSibling) {
     replyButtons[i].nextElementSibling.remove()
     }
     }
     
});

function loadXMLDoc() {
 var xhttp = new XMLHttpRequest();
 xhttp.onreadystatechange = function() {
   if (this.readyState == 4 && this.status == 200) {
     
     posts = []
     columns = this.responseText.split("\r\n")[0].split(",").length; //For possible future purposes.
     data = this.responseText.split("\r\n");
     
     
     for (i=0; i<data.length; i++) {
     if (data[i].split(",")[3] === window.location.href.split("#")[0] && data[i].split(",")[8] === "1") {
     postObject = {
     "date":data[i].split(",")[0],
     "name":data[i].split(",")[1],
     "comment":data[i].split(",")[2],
     "link":data[i].split(",")[3],
     "recaptcha":data[i].split(",")[4],
     "post-id":data[i].split(",")[5],
     "reply-to":data[i].split(",")[6],
     "reply-to-name":data[i].split(",")[7],
     "moderated":data[i].split(",")[8]
     }
     posts.push(postObject)
     }
     }
   
     numCom = posts.length;
     postCommentNumber = document.createElement("DIV");
     if (numCom<2) {postCommentNumber.innerHTML = numCom + " comment"} else {postCommentNumber.innerHTML = numCom + " comments"};
     postCommentNumber.className = "post-comment-number"
     document.getElementById("demo").prepend(postCommentNumber);
     
     for (i=0;i<posts.length;i++) {
     commentBody = document.createElement("DIV");
     commentBody.setAttribute("id",posts[i]["post-id"]);
     
     header = document.createElement("DIV");
     header.className = "post-comment-header"
commenterName = document.createElement("SPAN");
commenterName.className = "post-comment-name"
commenterName.innerText = posts[i].name;
date = document.createElement("SPAN");
date.className = "post-comment-date"
date.innerText = posts[i].date;
header.appendChild(commenterName);
header.appendChild(date);

comment = document.createElement("DIV");
if (posts[i]["reply-to"] === "") {
comment.innerText = decodeURIComponent(posts[i].comment);
} else {
comment.innerHTML = "<a href='#" + posts[i]["reply-to"] + "'>@" + posts[i]["reply-to-name"] + "</a> " + decodeURIComponent(posts[i].comment);
}
comment.style.backgroundColor = "lightgoldenrodyellow";
comment.className = "post-comment-content"

replyDiv = document.createElement("DIV");
replyDiv.style.display = "flex";
replyDiv.style.justifyContent = "flex-end"
replyDiv.className = "reply-button-container"

reply = document.createElement("BUTTON");
reply.className = "reply-button";
reply.innerText = "Reply";
replyDiv.appendChild(reply)

commentBody.className = "post-comment";

commentBody.appendChild(header)
commentBody.appendChild(comment)
commentBody.appendChild(replyDiv)

document.getElementById("demo").appendChild(commentBody)
     }
     
     
     replyButtons = document.getElementsByClassName("reply-button");
     for (i=0; i<replyButtons.length; i++) {
     replyButtons[i].addEventListener("click",function(){
     replyTo = this.parentElement.parentElement.id
     replyToName = this.parentElement.parentElement.children[0].children[0].innerText
     document.getElementById("leave-a-comment").classList.add("leave-a-comment1");
     for (i=0; i<replyButtons.length; i++) {
     replyButtons[i].parentElement.style.display = "flex"
     replyButtons[i].style.display = "block"
     if (replyButtons[i].nextElementSibling) {
     replyButtons[i].nextElementSibling.remove()
     }
     }
     this.style.display = "none";
     document.getElementsByClassName("comment-form-container")[document.getElementsByClassName("comment-form-container").length-1].style.display = "block"
     document.getElementsByClassName("comment-form-container")[document.getElementsByClassName("comment-form-container").length-1].style.display = "none"
  
     this.parentElement.style.display = "block";
         sampleForm =  document.createElement("DIV");
  sampleForm.innerHTML = '<table style="width:100%"><tbody><tr><td style="width:50%"><div style="width:100%"><input type="text" style="width:100%" placeholder="Name"></div></td><td style="width:50%"><div style="display:flex;align-items:center;"><input type="checkbox"><label>I <i>am</i> a robot.</label></div></td></tr><tr><td colspan="2"><textarea style="width:100%;height:15vh;resize:none" placeholder="Write your comment here"></textarea></td></tr><tr><td colspan="2"> <div style="display:flex;justify-content:flex-end;padding: 0.5em 1em 1em 0em;"><button class="submit-button">Submit</button></div></td></tr></tbody></table>'
       //alert(sampleForm.innerHTML)
     this.parentElement.appendChild(sampleForm)
      
       
     submitButton();
     })
     }
     //document.getElementById("demo").innerHTML = JSON.stringify(posts)
   }
 };
 xhttp.open("GET", "https://docs.google.com/spreadsheets/d/e/2PACX-1vQg6dmeH1EYHwCm1zLmGSI34IC9Uchtf8pWL3KfqnPIMbSbFl-DB1jptcCjuIlP3e4mRVmcG7PbGuGz/pub?gid=0&single=true&output=csv", true);
 xhttp.send();
}
</script>
<hr>
<style>
  .related-post-title-container {
    position:absolute;
    z-index:2;
    padding:0.5em 1em;
    bottom:0.5em;
    font-variant-caps:all-small-caps;
    text-align:center;
    font-size:110%;
    background-color:khaki;
    width:calc(80% - 2em);
  }
  .related-post-title-container a {
    color:black;
    text-decoration:none;
  }
  .related-post-title-container a:hover {
    cursor:pointer;
   font-weight:bold;
  }

    .related-post-image {
     z-index:1;
     max-width: 80%;
     padding: 5px 0;
    }
@media (max-width: 767px) {
    .related-post-image {
     max-width: 75%;
     padding: 5px 0;
    }
    }
.related-post-image:hover {
 cursor:pointer;
 opacity:0.8
}
</style>
<div>
  <div style="font-size: 150%;font-weight: bold;font-variant: all-petite-caps;padding: 5px 10px;max-width:80%">Related Posts</div>
  <div style="padding-bottom: 22px;width:80%">
    {% for related_post in site.related_posts limit: 5 %}
    <div style="position:relative">
    <div class="related-post-title-container">
                <a href="{{ related_post.url }}">{{ related_post.title }}</a></div>
      <div>
        <a href="{{ related_post.url }}"><img class="related-post-image"
                     src="/assets/{{ related_post.image }}"></a></div>
    </div>
    {% endfor %}
  </div>
</div>
