---
layout: default
---
<style>
.progress-container {
  height:0em;
  padding:0 0.5em 0 0.5em;
  transition: all 0.5s;
  cursor:pointer;
}
.progress-whole {
  width:100%;height:0em;line-height:0em;background-color:#f5f5f5;border-radius:10px;transition: all 0.5s
}
.progress-so-far {
  height:0em;line-height:0em;background-color:#04AA6D;border-radius:10px;transition: all 0.5s
}
</style>

<div class="progress-container">
<div class="progress-whole">
<div class="progress-so-far" style="width: {{ page.complete }} "></div>
</div>
</div>
