---
layout: default
---
<style>
.progress-container {
  width:75%;
  height:1em;
  padding:0 0.5em 0 0.5em;
  transition: all 0.5s;
}
.progress-whole {
  width:100%;height:1em;line-height:1em;background-color:#f5f5f5;border-radius:10px;transition: all 0.5s
}

{% assign index = 0 %}
{% assign projects = site.projects | where: "layout", "project" %}
{% for project in projects %}
{% assign colors = "crimson,cornflowerblue,forestgreen,orange,khaki,black,peachpuff,gold" | split: "," %}
{% assign index_variable = index | plus: 0 %}
{% if project.path == page.path %}
{% assign progressColor = colors[index_variable] %}
{% if progressColor == "khaki" or progressColor == "orange" or progressColor == "peachpuff" %}
{% assign progressTextColor = "black" %}
{% else %}
{% assign progressTextColor = "white" %}
{% endif %}
{% break %}
{% endif %}
{% assign index = index | plus: 1 %}
{% endfor %}

.progress-so-far {
  height:1em;line-height:1em;background-color:{{ progressColor }};border-radius:10px;transition: all 0.5s;text-align:center;color:{{ progressTextColor }}
}
</style>

<div class="progress-container">
<div class="progress-whole">
<div class="progress-so-far" style="width: {{ page.complete }} ">{{ page.complete }}</div>
</div>
</div>
<script>
pages = document.getElementsByClassName("pages-button");
for (i=0; i<pages.length; i++) {
  if(("/" + pages[i].textContent.toLowerCase() + "/") === "/projects/") {
    pages[i].classList.toggle("pages-button-current");
    pages[i].style.backgroundColor = "palegreen";
    pages[i].style.fontWeight = "bold"
  }
}
</script>
<div style="font-variant: all-petite-caps;font-size: 120%;width: 75%;padding: 0.5em;">
<div style="padding: 0.25em 0.5em 0.25em 0.5em;"><b>Started:</b> {{ page.started }}</div>
<div style="padding: 0.25em 0.5em 0.25em 0.5em;"><b>Scope:</b> {{ page.scope }}</div>
</div>
{{ content }}