---
layout: default
---
<div class="post">
<ul>
{% if page.language == "" %}
{% for post in site.tags[page.tag] %}
  <li><a href="{{ post.url }}">{{ post.title }}</a> ({{ post.date | date_to_string }})<br>
    {{ post.description }}
  </li>
{% endfor %}
{% else %}
{% for post in site.posts | where: page.language == post.language %}
  <li><a href="{{ post.url }}">{{ post.title }}</a> ({{ post.date | date_to_string }})<br>
    {{ post.description }}
  </li>
{% endfor %}
{% endif %}
</ul>
</div>
<hr>
