---
layout: default
---
<script>
  pages = document.getElementsByClassName("pages-button");
  for (i=0; i<pages.length; i++) {
    if(("/" + pages[i].textContent.toLowerCase() + "/") === "/blog/") {
      pages[i].classList.toggle("pages-button-current");
      pages[i].style.backgroundColor = "palegreen";
      pages[i].style.fontWeight = "bold"
    }
  }
  </script>
<div class="post">
<ul>
{% if page.language %}
{% assign posts = site.posts | where: "language", page.language %}
{% for post in posts %}
  <li><a href="{{ post.url }}">{{ post.title }}</a> ({{ post.date | date_to_string }})<br>
    {{ post.description }}
  </li>
{% endfor %}
{% else %}
{% for post in site.tags[page.tag] %}
  <li><a href="{{ post.url }}">{{ post.title }}</a> ({{ post.date | date_to_string }})<br>
    {{ post.description }}
  </li>
{% endfor %}
{% endif %}
</ul>
</div>
<hr>
