#feedback-form label,
#feedback-form input {
    display: block;
    margin: auto;
    width: 80%;
    padding: 0.5em;
    text-align: left;
}

#feedback-form label {
    text-align: center;
}

#feedback-form input,
#feedback-form div {
    background: whitesmoke;
    border: 1pt black solid;
    padding: 0.5em;
    margin-bottom: 1em;
}

#feedback-form div {
    background: lightgray;
}

#feedback-form div {
    width: fit-content;
    display: inline-block
}

#form-button {
    font-variant-caps: all-small-caps;
    padding: 1em;
    margin: 0.5em;
    border: 0pt;
    background: palegreen;
}

#form-button:hover {
    opacity: 0.9;
    cursor: pointer
}

h2 {
    padding-top: 0;
}

.erettsegi-link {
    vertical-align: super;
    font-size: small;
    padding-left: 0.1em;
}

.erettsegi-link::before {
    content: "[";
}

.erettsegi-link::after {
    content: "]";
}

.gap,
.gap-disabled,
.default-gap {
    display: inline-block;
    min-width: 5em;
    width: -moz-fit-content;
    width: -webkit-fit-content;
    width: fit-content;
    min-height: 1em;
    line-height: 1em;
    background-color: lightgray;
    border: 1pt solid black;
    text-align: center;
    padding: 0.2em;
    margin: 0.1em;
    vertical-align: middle;
    font-family: inherit;
    font-size: inherit;
    max-width: 100%;
}

.reading-multiple-choice .default-gap,
.uoe-multiple-choice .default-gap,
.reading-extended-matching .default-gap {
    color: white;
    background-color: black;
    opacity: 1;
}

.reading-multiple-choice option:disabled,
.uoe-multiple-choice option:disabled,
.reading-extended-matching option:disabled {
    background-color: white;
    color: black;
}

.reading-multiple-choice select[disabled],
.uoe-multiple-choice select[disabled],
.reading-extended-matching select[disabled] {
    color: inherit;
    opacity: 1;
}

.uoe-multiple-choice .gap,
.uoe-multiple-choice .gap-disabled,
.uoe-multiple-choice .default-gap,
.reading-extended-matching .gap,
.reading-extended-matching .gap-disabled,
.reading-extended-matching .default-gap {
    vertical-align: baseline;
    padding: 0;
    margin: 0;
}

.reading-multiple-choice .gap,
.reading-multiple-choice .gap-disabled,
.reading-multiple-choice .default-gap,
.uoe-jumbled-up-sentences .gap,
.uoe-jumbled-up-sentences .gap-disabled,
.uoe-jumbled-up-sentences .default-gap {
    vertical-align: baseline;
}

.reading-summary .gap-disabled,
.reading-summary .default-gap,
.uoe-sentence-transformation .gap-disabled,
.uoe-sentence-transformation .default-gap {
    line-height: inherit;
    display: inline;
    border: black 0pt solid;
    vertical-align: baseline;
    margin: 0;
}

.uoe-sentence-transformation .gap,
.reading-summary .gap {
    vertical-align: baseline;
}

.uoe-free-gap-filling .gap,
.uoe-free-gap-filling .gap-disabled,
.uoe-free-gap-filling .default-gap {
    display: inline-block;
    font-family: inherit;
    font-size: inherit;
    min-width: 5em;
    width: 5em;
    vertical-align: baseline;
}

.gap-container {
    padding: 0.5em 0;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    align-items: center;
}

.reading-true-or-false .statement {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 0 50%;
    padding: 0.5em 1.5em;
    border: 1pt black solid;
}

.reading-true-or-false .gap-container {
    text-align: center;
    align-items: stretch;
    margin: 1.5em 0;
    padding: 0;
}

.reading-true-or-false .radio-container {
    display: table;
    height: fit-content;
    align-self: center;
    flex: 1 1 auto;
    padding: 0.25em 0.5em;
}

.reading-true-or-false .radio-container label {
    display: table;
    width: 100%;
    padding: 0.25em 0;
    cursor: pointer;
}

.reading-true-or-false .radio-container label [type="radio"] {
    display: none;
}

.reading-true-or-false .radio-container label [type="radio"]+span {
    display: table-cell;
    vertical-align: middle;
    padding: 0.2em;
    border: 1pt black solid;
    font-variant: small-caps;
    background-color: lightgray;
}

.reading-true-or-false .radio-container label [type="radio"]+span.correct {
    background-color: lightgreen
}

.reading-true-or-false .radio-container label [type="radio"]+span.incorrect {
    background-color: #FFC300
}

.reading-true-or-false .radio-container label [disabled]+span {
    cursor: text;
}

.reading-true-or-false .radio-container label :checked+span {
    background-color: lightskyblue;
}

.reading-true-or-false .default label :checked+span {
    background-color: black;
    color: white;
}

.reading-half-sentences .task .gap,
.reading-half-sentences .task .default-gap,
.reading-half-sentences .task .gap-disabled {
    flex: 1;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    line-height: 1.9em;
    padding: 0.2em;
    justify-content: center;
    min-height: 3em;
    align-items: center;
}

.half-sentence {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex: 0 0 30%;
    justify-content: center;
    text-align: center;
    padding: 0.5em;
}

.task {
    line-height: 1.5em;
}

.word-list {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    z-index: 1;
    position: sticky;
    top: 0;
    background-color: white;
    padding: 0.5em 0;
    overflow: auto;
    scroll-behavior: auto;
    scrollbar-width: auto;
}

.uoe-error-correction .default-gap, 
.uoe-error-correction-line {
    display: inline-block;
    text-align: left;
    line-height: inherit;
    padding: 0 0.3em;
    margin: 0.3em 0;
    border: none;
    background: lightgray;
    vertical-align: baseline;
}

.uoe-error-correction .strikethrough {
    text-decoration: line-through;
    color: red;
}

.uoe-error-correction .unmarked {
    text-decoration: none !important;
    color: unset;
}

.uoe-error-correction .unmarked:hover {
    color: unset !important;
}

.uoe-error-correction .ticked {
    background: green !important;
}

.uoe-error-correction .crossed {
    background: red !important;
}

.uoe-error-correction .tick, 
.uoe-error-correction .cross {
    display: inline-flex;
    justify-content:center;
    vertical-align: baseline;
    color: white;
    font-weight: bold;
    border: none;
    width: 1.5em;
    height: 1.5em;
    background: #6fdb6f;
    margin: 0 0 0 0.4em;
}

.uoe-error-correction .cross {
    background: #d58282;
}

.uoe-error-correction .tick:hover, 
.uoe-error-correction .cross:hover {
    cursor: pointer;
    opacity: 0.9;
}

.uoe-error-correction-line .text-unit:hover {
    cursor: pointer;
    color: red;
}

.reading-short-answer .gap,
.reading-short-answer .default-gap,
.reading-short-answer .gap-disabled {
    display: inline-block;
    padding: 0.5em;
}

.reading-short-answer .default-gap,
.reading-short-answer .gap-disabled {
    min-width: fit-content;
}

.reading-short-answer .gap {
    min-width: calc(100% - 1em);
}

.reading-short-answer .default-gap:after {
    content: ".";
}

.reading-matching .word-list .gap,
.reading-half-sentences .word-list .gap {
    flex: 1 0 25%;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    min-height: 3em;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

.reading-matching>div:not(.instructions),
.reading-half-sentences>div:not(.instructions),
.reading-true-or-false>div:not(.instructions) {
    line-height: 1.5em;
}

.reading-matching .task .gap,
.reading-matching .task .default-gap,
.reading-matching .task .gap-disabled {
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    border: 0pt solid black;
    margin: 0;
}

.reading-matching .task .default-gap {
    display: inline;
}

.reading-matching .task {
    padding-bottom: 1em;
}

.reading-text .task .gap {
    border: black 0pt solid;
    min-inline-size: 10em;
    line-height: inherit;
    padding: 0.1em;
}

.reading-text .task .gap-disabled,
.reading-text .task .default-gap {
    line-height: inherit;
    display: inline;
    border: black 0pt solid;
    margin: 0;
    vertical-align: baseline;
}

.reading-text .gap,
.reading-text .gap-disabled,
.reading-text .default-gap {
    min-width: fit-content;
    text-align: left;
    vertical-align: bottom;
}

.reading-dialogue .gap,
.reading-dialogue .gap-disabled,
.reading-dialogue .default-gap,
.reading-paragraphs .gap,
.reading-paragraphs .gap-disabled,
.reading-paragraphs .default-gap,
.reading-headings .gap,
.reading-headings .gap-disabled,
.reading-headings .default-gap {
    display: block;
    margin: 0.5em 0;
    min-width: 15em;
    height: -moz-fit-content;
    height: -webkit-fit-content;
    height: fit-content;
    min-height: 1em;
    line-height: 1.5em;
    padding: 0.5em;
    text-align: left;
}

.reading-paragraphs .gap,
.reading-paragraphs .gap-disabled,
.reading-paragraphs .default-gap {
    text-align: inherit;
}

.reading-dialogue .word-list,
.reading-paragraphs .word-list,
.reading-text .word-list,
.reading-headings .word-list {
    max-height: 40vh;
    height: -moz-fit-content;
    height: -webkit-fit-content;
    height: fit-content;
    overflow-y: scroll;
}

.reading-free-gap-filling .task li {
    padding: 0.5em 0 0.5em 0;
}

.word-list .gap {
    margin: 0.2em;
    -webkit-transition: visibility 0.3s linear, opacity 0.3s linear;
    -moz-transition: visibility 0.3s linear, opacity 0.3s linear;
    transition: visibility 0.3s linear, opacity 0.3s linear;
}

.gap:hover {
    cursor: pointer;
    opacity: 0.9;
}

.gap-disabled:disabled {
    color: inherit;
}

.picked {
    background-color: black;
    color: white
}

.report-button,
.check-button,
.show-button {
    flex: 1;
    font-size: smaller;
    font-variant-caps: all-small-caps;
    font-family: inherit;
    background: palegreen;
    min-width: 5em;
    border: 0pt;
    padding: 1em;
}

.report-button:hover,
.check-button:hover,
.show-button:hover {
    cursor: pointer;
    opacity: 0.9;
}

.show-button {
    background: lightskyblue;
}

.report-button {
    background: #eb8e8e;
}

.button-container {
    display: flex;
    gap: 0.5em;
    padding-bottom: 1.5em;
}

.modal-basis {
    z-index: 2;
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    vertical-align: middle;
}

.modal-box {
    position: relative;
    margin: auto;
    background-color: white;
    width: 80%;
    padding: 0.5em;
    text-align: center;
    -webkit-border-radius: 0.2em;
    -moz-border-radius: 0.2em;
    border-radius: 0.2em;
    border: 1pt black solid;
}

.modal-close {
    position: absolute;
    top: 0.2em;
    right: 0.5em;
    font-weight: bold;
    color: #aaaaaa;
    font-size: 28px;
}

.modal-close:hover,
.modal-close:focus {
    color: black;
    cursor: pointer;
}

.correct {
    background-color: palegreen
}

.incorrect {
    background-color: #FFC300
}